* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

:root {
  --primary-color: #1e88e5;
  --second-color: #0f6bbb;
  --light-text-color: #fff;
  --primary-bg: #f6f6f6;
  --sidebar-width: 250px;
  --notibar-width: 325px;
  --block-padding: 6px;
}

html,
body,
.app,
#root {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #345;
}

a {
  color: var(--primary-color);
  font-weight: 700;
}

.me-btn {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  }
}

.me-btn.invert {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
  background-color: var(--light-text-color);
}

.me-input {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  outline: none;
  color: #345;

  &:focus {
    box-shadow: 0 0 8px rgba(85, 161, 248, 0.4);
  }
}

.me-progress-bar {
  height: 4px;
  border-radius: 2px;
  background: #eee;
  overflow: hidden;
  .me-progress-percent {
    background: var(--primary-color);
    width: 10%;
    height: 100%;
    border-radius: 2px;
  }
}

.flex {
  display: flex;
}

.login-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-color), #3d72b4);
  overflow: hidden;
  position: relative;
  color: #345;

  .overlay {
    background: rgba(255, 255, 255, 0.53);
    width: 300vw;
    height: 150vh;
    border-radius: 75vw;
    position: absolute;
    right: -250vw;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.75s ease-in-out;
  }

  .footer {
    position: absolute;
    bottom: 0.75em;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-vector {
    top: 50%;
    width: 40%;
    right: 100px;
    transform: translateY(-50%);
    position: absolute;
    transition: 0.75s ease-in-out;
  }

  .logo {
    position: absolute;
    left: 75px;
    top: 25px;

    h2 {
      font-size: 2.5em;
      margin-bottom: 0.05em;
      background: linear-gradient(to bottom, #ffffff 100%, #d4d4d4 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: #fff;
    }
  }

  .form-group {
    position: fixed;
    top: 50%;
    left: 75px;
    transform: translate(0, -50%);
    width: 320px;
    max-width: 100%;
    padding: 24px;
    background: #fff;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: 0.75s ease-in-out;

    h1 {
      display: inline-block;
      border-bottom: 2px solid var(--primary-color);
      margin-bottom: 0.25em;
    }

    form {
      position: relative;
    }

    .mini-btn {
      position: absolute;
      height: 35px;
      width: 35px;
      display: block;
      border-radius: 100%;
      box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.18);
      background: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 35px;
      transition: 0.5s;
      color: #345;

      &:hover {
        box-shadow: 0px 0px 7px rgba(51, 51, 51, 0.3);
      }
    }

    input,
    button {
      padding: 16px 12px;
      font-weight: 700;
      width: 100%;
      border: none;
      // box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1.1em;
    }

    .input-group {
      margin-bottom: 1.25em;
    }

    button + button {
      margin-top: 0.5em;
    }

    input + input {
      margin-top: 6px;
    }

    p.signup-text {
      margin-top: 0.85em;
    }
  }
}

.login-page.loading {
  .form-group {
    left: -150px;
    transform: translate(0, -50%) scale(0.95);
    opacity: 0.75;
  }

  .overlay {
    transform: translateY(-50%);
    height: 120vh;
    right: -275vw;
    opacity: 0.5;
  }

  .home-vector {
    opacity: 0.5;
    transform: translateY(-50%) scale(0.75);
    right: -175px;
  }
}

.app-page {
  background: #f9f9f9;
  height: 100%;

  .sidebar {
    position: fixed;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background: #fff;
    padding-top: 32px;
    .icon {
      width: 3em;
      display: inline-block;
      color: var(--second-color);
    }
    .account {
      font-weight: 900;
      padding: 16px 32px;

      .profile-picture {
        display: inline-block;
        height: 40px;
        width: 40px;
        vertical-align: middle;
        background-color: #ccc;
        background-image: url("/img/avt.jpg");
        background-size: cover;
        border-radius: 100%;
        margin-right: 0.75em;
      }
    }

    .upload {
      text-align: center;
      width: 100%;
      padding: 12px 32px;
      box-sizing: border-box;

      button {
        font-weight: 900;
        box-sizing: border-box;
        width: 100%;
        background: var(--primary-color);
        padding: 12px 9px;
        color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0 16px rgba(89, 129, 155, 0.1);
        font-size: 1em;
        outline: none;
        cursor: pointer;
      }
    }

    ul {
      margin-top: 1.5em;
      width: 100%;

      li + li {
        margin-bottom: 4px;
      }

      li {
        padding: 12px 18px;
        padding-left: 32px;
        cursor: pointer;

        &:hover {
          background: rgba(22, 22, 22, 0.1);
        }
      }
    }

    .storage {
      padding: 16px 32px;
    }
  }

  .app-main {
    position: fixed;
    left: var(--sidebar-width);
    right: 0;
    top: 0;
    bottom: 0;
    padding: 9px 28px;
    padding-left: 20px;
    padding-bottom: 0;
    user-select: none;

    header {
      font-size: 1.5em;
    }

    .block {
      padding: 6px 18px;
    }

    .action-group {
      flex-grow: 1;
      text-align: right;
      align-self: center;
    }

    .path-breadcrumb {
      color: #555;
      font-weight: 900;
    }

    .me-mini-btn {
      display: inline-block;
      height: 33px;
      width: 33px;
      line-height: 33px;
      color: #345;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 100%;
      text-align: center;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        box-shadow: 0 0 5px rgba(95, 145, 255, 0.3);
        transform: rotate(360deg);
      }
      &:active {
        transition: 0s;
        background: var(--second-color);
        color: #fff;
      }
    }

    .me-mini-btn[disabled] {
      color: #999;
      opacity: 0.8;
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        transform: rotate(0deg);
      }
      &:active {
        transition: 0s;
        background: #fff;
        color: #999;
      }
    }
    .me-mini-btn + .me-mini-btn {
      margin-left: 0.75em;
    }

    .filebrowser {
      position: fixed;
      top: 90px;
      left: inherit;
      right: 0;
      bottom: 0;
      padding: inherit;

      .explore {
        position: relative;
        height: 100%;

        .recent {
          padding: 6px;
          .flex-row + .flex-row {
            margin-top: 0.75em;
          }
          .flex-row {
            display: flex;
            .recent-item {
              height: 160px;
              width: 160px;
              background: rgb(126, 126, 126);
              box-shadow: 0 0 18px rgba(0, 0, 0, 0.05) inset;
              border-radius: 20px;
              overflow: hidden;
            }
          }
          .flex-row:nth-child(1) .recent-item:nth-child(1) {
            margin-right: 0.75em;
            flex-grow: 2;
          }
          .flex-row:nth-child(2) .recent-item:nth-child(2) {
            margin-left: 0.75em;
            flex-grow: 2;
          }
        }

        .notibar {
          position: absolute;
          right: 0;
          top: 0;
          // background: #333;
          height: calc(100% - 90px);
          width: var(--notibar-width);
          padding-left: 20px;
          box-sizing: border-box;
          .noti-tab {
            span {
              padding: 16px;
              padding-right: 32px;
              padding-left:0;
              padding-bottom: 6px;
              margin-bottom: 12px;
              font-size:1.25em;
              font-weight: 900;
              display: inline-block;
              cursor: pointer;
              position: relative;
              &::before{
                  content: ' ';
                  position: absolute;
                  bottom:0;
                  width:32px;
                  height: 2px;
                  border-radius: 2px;
                  background: var(--primary-color);
              }
            }
          }
          .tab {
            background: #fff;
            box-shadow: 0 0 18px rgba(0, 108, 108, 0.1);
            width: 100%;
            height: 100%;
            border-radius: 9px;
          }

          .noti {
            .noti-item {
              padding: 12px 9px;
            }
          }
        }

        .file-list {
          width: calc(100% - var(--notibar-width));
          height: 100%;
          padding: 0 12px;
          overflow-y: auto;
          box-sizing: border-box;

          .flex.header {
            padding: 12px 9px;
            color: #777;
            font-weight: 900;
            overflow: hidden;
          }

          .file-item {
            background: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            padding: 9px;
            border-radius: 9px;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
              //   background: #1e88e5;
              //   color: #fff;
              box-shadow: 0 0 6px rgba(30, 136, 229, 0.3);
            }
          }

          .entry-icon {
            display: inline-block;
            height: 27px;
            width: 27px;
            vertical-align: middle;
            border-radius: 12px;
            border: 1px solid #eee;
            margin-right: 0.5em;
            background-image: url("/img/pdf.png");
            background-size: 55% 55%;
            background-position: center;
            background-repeat: no-repeat;
          }
          label.file-block {
            display: block;
          }
          label.file-block + label.file-block {
            margin-top: 8px;
          }
          label.file-block input[type="checkbox"] {
            display: none;
          }
        }
        .file-list.list {
          .flex,
          .file-item {
            display: flex;
            align-items: center;

            div {
              flex-basis: 120px;
            }

            .name {
              flex: auto;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
          input:checked + .file-item {
            background: #1e88e5;
            color: #fff;
            box-shadow: 0 0 11px rgba(30, 136, 229, 0.7686274509803922);
            .entry-icon {
              opacity: 0.9;
              background-size: 50%;
              background-image: url("/img/checked.png");
            }
          }
        }
        .file-list.grid {
          .flex.header {
            width: 100%;
            height: 9px;
            opacity: 0;
          }
          label.file-block {
            display: inline-block;
            width: 25%;
            padding: 6px;
            box-sizing: border-box;
            overflow: hidden;
            .type,
            .date,
            .size {
              display: none;
            }

            .file-item {
              padding: 0;
              overflow: hidden;
              .name {
                display: block;
                width: 100%;
                .entry-icon {
                  width: 100%;
                  height: 0;
                  margin: 0;
                  border: none;
                  padding-top: 100%;
                }
                .entry-name {
                  display: block;
                  background: #eee;
                  padding: 9px;
                }
              }
            }
            input:checked + .file-item {
              box-shadow: 0 0 8px rgba(30, 136, 229, 0.6);
              .name {
                .entry-name {
                  background: var(--primary-color);
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
